.Skill{
    border:2px solid black;
    border-radius: 20px;
    background-color: white;
    min-width: 46.5vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    color: black;
}

.Skill .Title{
    margin-top: 4vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
    line-height: 5vh;
}

.Skill .Title .no1{
    color: gray;
    font-size: calc(10px + 2vmin);
}

.Skill .Title .no2{
    color: black;
    font-size: calc(20px + 3vmin);
    font-weight: 100;
    text-decoration: underline;
}

.List{
    display: flex;
    margin-left: 4vw;
    font-size: calc(10px + 1vmin);

}
.List ul{
    margin-top: 0;
    line-height: 4vh;
}

.List .no1{
    display: flex;
    flex-direction: column;
    float:left;
    margin-right:10vw;
}

.List .no2{
    display: flex;
    flex-direction: column;
    float: left;
}